.page{
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.head-text{
  font-size: 4rem;
  text-align: center;
}
.page>table{
  width: 80%;
  border-collapse: collapse;
  border-width: 4px;
  
}
.row>td{
  font-size: 1.3rem;
  text-align: center;
}
.btns{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.row{
  padding: 10px;
}

.bn1{
    background-color: #009746; 
    padding: 2px 67px; 
    text-align: center; 
    margin-left:10px;
    border: none;  
    border-radius: 10px; 
    width: auto;
}
		
.bn2{
    background-color: red; 
    padding:2px 70px; 
    text-align: center;
    margin-right: 10px; 
    border: none; 
    border-radius: 10px;    
    width: auto;
}

.pbt{
    padding-top: 30px; 
    font-size: 20pt; 
    text-transform: capitalize; 
    padding-bottom: 0px; 
    color:  #435949;
}
.one-item{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
}
.mark{
  width: 100%;
  height: 100%;
  min-width: 70px;
  min-height: 70px;
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 700;
}
.mark:hover{
  cursor: pointer;
}
	